<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  </head>
  <body>
    <div id="root">

    <header>
      <!-- dove cerco il film
       il @keyup va inserito nell imput il @click va inserito nel button-->
       <div class="header-img">
         <img src="img/netflix.png" alt="">
       </div>

       <div class="header-botton-search">
         <input type="text" class="input-ricerca"
           placeholder="cerca film" v-model="ricerca" @keyup.enter="cerca">
           <button class="bottone"  @click="cerca">Ado</button>
       </div>
    </header>

    <!-- dove tutte le ifnromazioni vengono stampate a schermo  -->

    <div class="container">
      <div v-for="element in risultati">
        <div class="locandine">

            <div class="fronte">
              <img :src= locandina(element.poster_path) class="fronte" alt="">
            </div>

            <div class="retro">
              <h4 v-if="element.title">Titolo:{{element.title}}</h4>
                <h4 v-if="element.name">{{element.name}}</h4>

                <span v-if="element.original_title">Titolo Originale:{{element.original_title }}</span>
                <span v-if="element.original_name" >{{element.original_name}}</span>


             <span class="">{{element.original_title}}</span><br>

              <img class="flags" v-if="lingue.includes(element.original_language)" :src="'img/' + element.original_language + '.png'"><br>

             <span class="stelle(element.vote_average)"></span>

             <span><i class="fas fa-star" v-for="element in stelle(element.vote_average)"></i></span>
              <span><i class="far fa-star" v-for="element in (5 - stelle(element.vote_average))"></i></span><br><br>
              <h6>Overview: {{element.overview}}</h6>
              <div v-for="element in attori">
                {{element.name}}
              </div>

            </div>
        </div>
      </div>
    </div>


   </div>
  </div>
     <script src="main.js" charset="utf-8"></script>
  </body>
</html>
