* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

#root {
    font-family: 'Lato', sans-serif;
}

header{
height: 70px;
display:flex;
flex-direction: row;
justify-content:space-between;
background-color: black;
width: 100vw;
}


.header-img{
float:left;
width: 50%;
}
.header-img>img{
  height: 50px;
}

.header-botton-search{
  float:left;
  line-height: 70px;
  margin-right:0px;
}
.container {
    max-width: 1200px;
    margin: auto;

}

.locandine{
    float:left;
    width: 200px;
    height: 300px;

    padding: 20px;
    position: relative;
}

.fronte {
  position: absolute;
  width: 100%;
  height: 100%;
}


/* retro delle card */
.flags{
  height: 10px;
}
i{
  height: 5px;
}
